DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

APP_URL=http://localhost:3000
SESSION_SECRET=
RESEND_API_KEY=
EMAIL_FROM=onboarding@resend.dev

RESEND_TEST_TO=
